---
import Layout from "@/layouts/Layout.astro";

import Briefcase from "@/components/icons/Briefcase.astro";
import Experience from "@/components/Experience.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
---

<Layout
  title="PHP: Cronología de un Código"
  description="“PHP: Cronología de un Código” es un viaje interactivo a través del tiempo, explorando los hitos y las innovaciones que han marcado la evolución de PHP, desde sus humildes comienzos hasta convertirse en uno de los lenguajes de programación más influyentes para el desarrollo web. Descubre las versiones, las personas y las historias detrás de este poderoso lenguaje de código abierto."
>
  <main class="px-4">
    <SectionContainer class="py-5 md:py-10">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="experiencia">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase class="size-8" />
        Linea Temporal
      </h2>
      <Experience />
    </SectionContainer>
    
  </div>
</Layout>
