---
const personalImageAlt = "Carlos Brayan";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>¡Hola! Soy Carlos Brayan Rámila Chorens.</p>

    <p>
      Soy un apasionado desarrollador de software con un enfoque en la creación
      de soluciones web innovadoras y funcionales. Mi viaje en el mundo de la
      informática comenzó con una curiosidad innata por la tecnología y el deseo
      de crear un impacto positivo a través del código.
    </p>

    <p>
      Durante mi carrera académica en la Universidad de las Ciencias
      Informáticas, he adquirido una sólida base en ciencias de la computación,
      explorando diversos lenguajes de programación, frameworks y metodologías
      de desarrollo. Mis proyectos académicos y experiencias como desarrollador
      independiente me han permitido desarrollar habilidades en el diseño y
      desarrollo de aplicaciones web, así como en la gestión eficiente de
      proyectos de software.
    </p>

    <p>
      Mi enfoque principal radica en la creación de experiencias de usuario
      intuitivas y atractivas. Me esfuerzo por combinar mis habilidades técnicas
      con una comprensión profunda de las necesidades del usuario para entregar
      productos que no solo sean funcionales, sino también impactantes y
      significativos.
    </p>

    <p>
      Estoy emocionado por lo que depara el futuro en el mundo del desarrollo de
      software y estoy comprometido a seguir aprendiendo, creciendo y haciendo
      una diferencia en la comunidad tecnológica.
    </p>

    <p>
      ¡Gracias por visitar mi portafolio y espero tener la oportunidad de
      colaborar contigo en futuros proyectos!
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
