---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
};

const PROJECTS = [
  {
    title: "ll",
    description:
      "Biblioteca de logos SVG de las marcas más populares. +10k visitas al mes. +2K svgs descargados. Creado desde cero con Next.js, React y Tailwind CSS.",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/pheralb/svgl",
    image: "/projects/svgl.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "AdventJS - Retos de programación con JavaScript y TypeScript",
    description:
      "Plataforma gratuita con retos de programación. Más de 1 millón de visitas en un mes. +50K retos completados. Creada desde cero con Next.js, React y Tailwind CSS.",
    link: "https://adventjs.dev",
    image: "/projects/adventjs.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "AdventJS - Retos de programación con JavaScript y TypeScript",
    description:
      "Plataforma gratuita con retos de programación. Más de 1 millón de visitas en un mes. +50K retos completados. Creada desde cero con Next.js, React y Tailwind CSS.",
    link: "https://adventjs.dev",
    image: "/projects/adventjs.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "AdventJS - Retos de programación con JavaScript y TypeScript",
    description:
      "Plataforma gratuita con retos de programación. Más de 1 millón de visitas en un mes. +50K retos completados. Creada desde cero con Next.js, React y Tailwind CSS.",
    link: "https://adventjs.dev",
    image: "/projects/adventjs.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "AdventJS - Retos de programación con JavaScript y TypeScript",
    description:
      "Plataforma gratuita con retos de programación. Más de 1 millón de visitas en un mes. +50K retos completados. Creada desde cero con Next.js, React y Tailwind CSS.",
    link: "https://adventjs.dev",
    image: "/projects/adventjs.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
];

const asd = () => {
  console.log('carcar');
  
}
---

<div class="flex p-0 m-0">
  <div class="mx-auto max-w-2xl sm:px-6 sm:py-2 lg:max-w-7xl">
    
    <div class="flex row justify-center gap-2">
      <h2 data-button class="text-2xl font-bold tracking-tight text-gray-900">
        <LinkButton set:text='Todos'  />
      </h2>

      <h2 data-button class="text-2xl font-bold tracking-tight text-gray-900">
        <LinkButton set:text='Programador'  />
      </h2>

      <h2 data-button class="text-2xl font-bold tracking-tight text-gray-900">
        <LinkButton set:text='Analista'  />
      </h2>

      <h2 data-button class="text-2xl font-bold tracking-tight text-gray-900">
        <LinkButton set:text='Base Datos'  />
      </h2>

      <h2 data-button class="text-2xl font-bold tracking-tight text-gray-900">
        <LinkButton set:text='Probador'  />
      </h2>
    </div>
    <!-- <div
      class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
    > -->
    <div class="mt-6 grid grid-rows-3 lg:grid-rows-2 grid-flow-col gap-3">
      {
        PROJECTS.map(({ image, title, description, tags, link, github }) => (
          <div class="w-full">
            <div class="w72 flex flex-col col-span-6 row-span-5 gap-3 pb-4">
              <div class="relative items-center transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                <img
                  alt="Recién llegado vs 5 años en Nueva Zelanda"
                  class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                  // style="max-height: 250px; min-height: 250px;"
                  loading="lazy"
                  src={image}
                />
              </div>
              <p class="flex justify-center">Trabajo de curso ViajaYa UCi</p>
              <div class="mx-auto">
                <LinkButton set:text='Tags'/>
                <LinkButton set:text='Tags'/>
              </div>
            </div>
          </div>
        ))
      } 
    </div>
  </div>
</div>

<script>
  // Find our component DOM on the page.
  const buttons = document.querySelectorAll('[data-button]');
  
  // Add event listeners to fire confetti when a button is clicked.
  buttons.forEach((button) => {
    button.addEventListener('click', () => console.log('asdasd'));
  });
</script>