---
import ExperienceItem from "./ExperienceItem.astro"
import {EXPERIENCIE} from "@/data/data"

---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
