---
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import GitHub from "./icons/GitHub.astro"
import Php from "./icons/Php.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <Php class="size-20 bg-blue-800 rounded rounded-xl" />
    <a
      href="https://php"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Versión actual: v8.3</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
  PHP: Cronología de un Código
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-blue-800 [&>strong]:text-blue-500 [&>strong]:font-semibold dark:text-gray-300"
  >
  <strong >“PHP: Cronología de un Código” </strong>es un viaje interactivo a través del tiempo, explorando los hitos y las innovaciones que han marcado la evolución de PHP, desde sus humildes comienzos hasta convertirse en uno de los lenguajes de programación más influyentes para el desarrollo web. Descubre las versiones, las personas y las historias detrás de este poderoso lenguaje de código abierto.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
  </nav>
</div>
